.DS_Store
.idea
/web/sites/default/files/css/
/web/sites/default/files/js/
/web/sites/default/files/php/
/web/sites/default/files/styles/
/web/sites/default/files/controller_configs/
/web/sites/default/files/roms/
/web/sites/default/files/logos/
/web/sites/default/files/manuals/
/web/sites/default/files/switch_locations/
/web/sites/default/files/solenoid_locations/
/web/sites/default/files/media-icons/
/web/sites/default/files/lamp_locations/
/web/sites/default/files/translites/
